*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    color: var(--color-gray-700);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    color: var(--color-gray-900);
}

ul {
    padding-inline: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-gray-900);
}

@supports selector(:focus-visible) {
    a:focus,
    button:focus {
        outline: 0;
    }

    a:focus-visible,
    button:focus-visible {
        outline-width: var(--outline-width, var(--focus-outline-width));
        outline-style: var(--outline-style, var(--focus-outline-style));
        outline-color: var(--outline-color, var(--focus-outline-color));
        outline-offset: var(--outline-offset, var(--focus-outline-offset));
    }
}
