:root {
    --color-green-500: hsl(171, 66%, 44%);
    --color-blue-100: hsl(233, 100%, 69%);

    --color-gray-900: hsl(210, 10%, 13%);
    --color-gray-700: hsl(210, 10%, 33%);
    --color-gray-500: hsl(201, 11%, 66%);

    --color-white: hsl(0, 0, 100%);
    --color-black: hsl(0, 0, 0%);

    --font-primary: "Bai Jamjuree", system-ui, sans-serif;
    --font-normal: 400;
    --font-semi-bold: 600;

    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.75rem;
    --text-4xl: 2rem;
    --text-5xl: 2.25rem;
    --text-6xl: 2.875rem;
}
