.socials {
    &__list {
        display: flex;
        gap: 1.5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon path {
        fill: var(--icon-color);
        transition: fill 200ms ease;
    }

    @media (prefers-reduced-motion: reduce) {
        &__icon path {
            transition: none;
        }
    }

    @media (hover: hover) {
        &__link:hover {
            --icon-color: var(--color-green-500);
        }
    }
}
