@import "./base/fonts.css";
@import "./base/variables.css";
@import "./base/reset.css";

@import "./layouts/container.css";

@import "./utils/accessibility.css";

@import "./components/button.css";
@import "./components/intro.css";
@import "./components/features.css";
@import "./components/access.css";
@import "./components/tools.css";
@import "./components/companies.css";
@import "./components/download.css";
@import "./components/socials.css";
@import "./components/nav.css";

body {
    background-image: url("../assets/images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    @media (--tablet) {
        background-image: url("../assets/images/bg-header-desktop.png");
    }
}

.header {
    &__logo {
        margin-block: 8.1875rem 3.5625rem;
    }
}

.main {
    overflow: hidden;
}

.footer {
    background-color: var(--color-gray-100);
    padding-block: 2.625rem;

    &__container {
        gap: 3.125rem;
    }

    @media (--laptop) {
        &__container {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
